SUMMARY_RESULTS_FN=../summary/results.txt
SUMMARY_SYSTEM_PROMPT_FN=../summary/system-prompt.txt
SUMMARY_USER_PROMPT_FN=../summary/user-prompt.txt

STORYTELLING_RESULTS_FN=../storytelling/results.txt
STORYTELLING_SYSTEM_PROMPT_FN=../storytelling/system-prompt.txt
STORYTELLING_USER_PROMPT_FN=../storytelling/user-prompt.txt
STORYTELLING_HERO_FN=../storytelling/hero.txt
STORYTELLING_LOCATION_FN=../storytelling/location.txt
STORYTELLING_SUBJECT_FN=../storytelling/subject.txt

DESIGNING_RESULTS_FN=../designing/results.txt
DESIGNING_SYSTEM_PROMPT_FN=../designing/system-prompt.txt
DESIGNING_SIMPLE_USER_PROMPT_FN=../designing/user-prompt-simple.txt
DESIGNING_REFINED_USER_PROMPT_FN=../designing/user-prompt-refined.txt
DESIGNING_COMPLETE_USER_PROMPT_FN=../designing/user-prompt-complete.txt
DESIGNING_LOCATION_FN=../designing/location.txt
DESIGNING_FORMAT_FN=../designing/format.txt
DESIGNING_LENGTH_FN=../designing/length.txt
DESIGNING_MENTIONS_FN=../designing/mentions.txt
DESIGNING_INSTRUCTIONS_FN=../designing/instructions.txt
DESIGNING_SHOTS_FN=../designing/shots.txt
DESIGNING_START_FN=../designing/start.txt
DESIGNING_NICKNAME_FN=../designing/nickname.txt

CSV_RESULTS_FN=../generate_csv/results.txt
CSV_SYSTEM_PROMPT_FN=../generate_csv/system-prompt.txt
CSV_USER_PROMPT_FN=../generate_csv/user-prompt.txt

CLASSIFICATION_ITEMS_FN=../classification/items.txt
CLASSIFICATION_BUCKETS_FN=../classification/buckets.txt
CLASSIFICATION_SYSTEM_PROMPT_FN=../classification/system-prompt.txt
CLASSIFICATION_USER_PROMPT_FN=../classification/user-prompt.txt
CLASSIFICATION_RESULTS_FN=../classification/results.txt